{% extends 'base.html' %}

{% load static %}

{% block content %}

    <body>
        <style>
            body {
                background-color: rgb(255, 255, 255);
    
            }
    
        </style>
        <style>
            body{
                max-width: 1000px;
                margin: auto;
            }
            p{
                text-indent: 50px;
            }
        </style>
        <body>
            <br>
            <br>
            <br>
            <br>
    <p><h1><b><center>MATEMATIKA SEKOLAH MENENGAH PERTAMA</center></b></h1></p>
    <p><h1><b><center>SISTEM PERSAMAAN DAN PERTIDAKSAMAAN LINEAR DUA VARIABEL</center></b></h1></p>
    <center><img src="\static\image\Screenshot (1039).png"></center>
    <p><center><b>Aulia Urohmah</b></center></p>
    <p><center><b>2225210086</b></center></p>
    <p><center><b>Dr. Aan Hendrayana</b></center></p>
    <br>
	<br>
	<br>
    <p><center><b>Universitas Sultan Ageng Tirtayasa Press</b></center></p>
    <br>
    <br>
   
</body>

{% endblock %}