<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="menu">

    <style>
      .menu {
    background-color:khaki;
    height: 130px;
    width: 100%;
    font-size: medium;
    border-radius: 5px;
 
}

.menu ul {
    display: block;
    padding: 5px;
    background: none;
    float: left;
    margin: 0px;
    
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

body {
    background-color: rgb(255, 255, 255);
}
.menu ul li a {
    color: brown;
    display: block;
    text-decoration: none;
    padding: 23px;


}
    </style>
    
  <ul>

    <li><a href="/cover"><b>COVER</b></a></li>
    <li><a href="/pendahuluan"><b>PENDAHULUAN</b></a></li>
    <li><a href="/katapengantar"><b>KATA PENGANTAR</b></a></li>
    <li><a href="/materi1"><b>MATERI 1</b></a></li>
    <li><a href="/materi2"><b>MATERI 2</b></a></li>
    <li><a href="/videopembelajaran"><b>VIDEO PEMBELAJARAN</b></a></li>
    <li><a href="/aplikasigeogebra"><b>APLIKASI GEOGEBRA</b></a></li>
    <li><a href="/daftarpustaka"><b>DAFTAR PUSTAKA</b></a></li>
    <li><a href="/glosarium"><b>GLOSARIUM</b></a></li>
    <br>
    <br>
    
   
  </ul>
</nav>
</body>
</html>